<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Booc Marc</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-route.js">
   </script>
   <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
   

</head>
<body ng-app = "boocmarc">

	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
	        <img alt="Brand" src="http://i.imgur.com/3MZLsTZ.png">
	      </a>
	    </div>
	  </div>
	</nav>
	<div class="Container">
        <div class="Left">
        	<div class="row trendbook" ng-controller="TrendBookCtrl as trendbook" >
			  <div class="col-sm-12 col-md-12" ng-repeat="book in trendbook.books | orderBy : '-comments.count'">
			    <div class="booklist">
			    	<div class="book-image">
			    		 <img src="{{book.imgUrl}}">
			    	</div>
				    <div class="book-info">
				    	<h4>{{book.name}}</h4>
				        <p>作者：{{book.author}}</p>
				    </div>
			    </div>
			  </div>
			</div>
        </div>
        
        <div class="Right">
			<div class="row trendbook" ng-controller="DisscussBookCtrl as discussbook" >
			  <div class="col-sm-12 col-md-12" ng-repeat="book in discussbook.books | orderBy : 'comments.count'">
			    <div class="booklist">
			      <div class="book-image">
			    		 <img src="{{book.imgUrl}}">
			    	</div>
				    <div class="book-info">
				    	<h4>{{book.name}}</h4>
				        <p>作者：{{book.author}}</p>
				    </div>
			    </div>
			  </div>
			</div>
        </div>
    </div>
	



	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="javascripts/angularApp.js"></script>
</body>
</html>

