<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=0">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:url" content="http://boocmarc.com"/>
	<meta property="og:title" content="BoocMarc 找到和你一樣愛閱讀的朋友。"/>
	<meta property="og:image" content="http://i.imgur.com/egQKe6r.png"/>
	<title>Booc Marc</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular-route.js">
   </script>

   
   

</head>
<body ng-app = "boocmarc">

	<nav class="navbar navbar-default navbar-fixed-top"  ng-controller="NavCtrl">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="brand" href="/">
	        <img alt="Brand" class="brand-logo" src="/imgs/logo.png">
	      </a>
	    </div>
	   	<div class="navbar-right nav-web">
	    	<ul>
	    		<li ng-show="isLoggedIn()" ng-cloak><a class="btn-none">{{ currentUser() }}</a></li>
      			<li ng-show="isLoggedIn()"  ng-cloak><a href="" class="btn-colorful" ng-click="logOut()">Log Out</a></li>
	    		<li><a class="btn-none" ng-hide="isLoggedIn()" href="/login">登入</a></li>
	    		<li><a class="btn-colorful" ng-hide="isLoggedIn()" href="/register">註冊</a></li>
	    	</ul>
	    </div>    
	    <div class="collapse navbar-collapse" id="myNavbar" >
	    	<ul class="nav navbar-nav  navbar-right nav-mobile">
	    		<li ng-show="isLoggedIn()" ng-cloak><a>{{ currentUser() }}</a></li>
      			<li ng-show="isLoggedIn()" ng-cloak><a href="" ng-click="logOut()">Log Out</a></li>
	    		<li ng-hide="isLoggedIn()" ><a href="/login">登入</a></li>
	    		<li ng-hide="isLoggedIn()" ><a href="/register">註冊</a></li>
	    	</ul>
	    </div>
	  </div>
	</nav>

	<div ng-view class="content-view" autoscroll="true"></div>
	
	<div class="panel-default foot">
	  <div class="footer-container">
		<div class="row footer-content">
			<div class="col-md-6 col-lg-12">
				<p><a href="/" class="small-logo"><span><img src="/imgs/logo.png" alt=""></span></a></p>	
				<p>BoocMarc 致力提供一個全新的閱讀體驗給所有的閱讀愛好者。</p>
				<p class="caption-text"><span>© 2016 BoocMarc Inc. All rights reserved.</span></p>
			</div>
		</div>
	  </div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="/javascripts/angularApp.js"></script>
	
</body>
</html>

