body {
  font-size: 14px;
  line-height: 21px;
  font-family: 'OpenSans',Arial,sans-serif;
  overflow-x: hidden;

}

a {
  color: #00B7FF;
}

.trendbook{
	margin-top: 15px;
}

.nav-own{
	background-color: #161d20;
}

.navtop{
	border-width:0px;
}



.discussion-author{
	color:gray;
	font-size: 10px;
}

.foot{
	margin:0px;
}

.footer-container{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.footer-content{
	border-top: solid 1px rgba(128, 128, 128, 0.3);
	padding-top: 10px;
	padding-bottom: 10px;
}

.small-logo img{
	width: 100px;
}

.brand-logo{
	width:150px;
	padding: 10px 0;
}

.caption-text{
	font-size: 12px;
    line-height: 18px;
    font-family: 'OpenSans',Arial,sans-serif;
}

.container-fluid{
	width:75%;
	margin-left: auto;
	margin-right: auto;
}

.brand{
	padding:10px 15px;
}

.btn-blue{
	background-color: #4a90e2;
	line-height: 16px;
    padding: 16px 20px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 6px;
    display: inline-block;
    border-radius: 0;
    border: 0;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.btn-blue:hover{
	background-color:#75B4FF;
	color:white;
	text-decoration: none;
}

.btn-none{
	padding: 22px 0px;
	color:#757575;
	text-decoration: none;
}

.btn-none:hover{
	padding: 22px 0px;
	color:#4a90e2;
	text-decoration: none;
}

.container-fluid ul li{
	display:inline;
}

.banner{
	background-image: url('/imgs/banner.png');
	background-size: auto 400px;
	height:400px;
}

.navbar{
	margin-bottom: 0 !important;
}

.banner-container{
	text-align: center;
}
.banner-intro{
	color: white;
	padding-top:50px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}  

/* Form wrapper styling */
.form-wrapper {
    width: 70%;
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
    width: 78%;
    height: 40px;
    padding: 10px 5px;
    float: left;    
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;      
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 22%;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
  
.form-wrapper button:hover{		
    background: #e54040;
}	
  
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #c42f2f;
	outline: 0;   
}

.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper button:hover:before{
    border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}      

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    


.browse-catalog-container{
	font-weight: 900;
}

.h3-none{
	color: white;
}

.h3-btn{
	text-decoration: none;
	color: #3f98ff;
}

.h3-btn:hover{
	text-decoration: none;
	
}


.book-container{
	width:70%;
	margin: 30px auto; 
	text-align: center;
}

.book-container img{
	max-width: 200px;
}
.featured-book{
	margin-top:10px;
}
.discussed-book{
	margin-top:10px;
}

.book-detail{
	padding: 10px;
}

.book-author{
    color: black;
}

.book-title{
    height: 40px;
    overflow: hidden;
}

.book-image{
    min-height: 200px;
}

.search-web{
    display: initial;
}

.search-mobile{
    display:none;
}

.nav-web{
    display: initial;
}

.nav-mobile{
    display: none;
}


@media screen and (max-width: 480px) {
    .search-web{
        display: none;
    }

    .search-mobile{
        display:initial;
    }

    .book-container{
        width:90%;
    }
}

@media screen and (max-width: 768px) {

    .nav-web{
        display: none;
    }

    .nav-mobile{
        display: initial;
    }
}


