body {
  font-size: 14px;
  line-height: 21px;
  font-family: 'OpenSans',Arial,sans-serif;
  overflow-x: hidden;

}

a {
  color: #00B7FF;
}

.trendbook{
	margin-top: 15px;
}
.Container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.Left,
.Middle,
.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    width:50%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.Left::-webkit-scrollbar,
.Middle::-webkit-scrollbar,
.Right::-webkit-scrollbar {
    display: none;
}

.book-image{
	display: inline-block;
	width: 30%;
}
.book-image img{
	width: 100%;
	min-width: 150px;
}

.book-info{
	display: inline-block;
	width: 68%;
}

.booklist{
	margin-bottom:15px;
	padding-bottom: 9px;
	border-bottom: 1px #E8E8E8 solid;
}

@media screen and (max-width: 480px){
	.book-image,.book-info{
		display: block;
		width: 100%;
	}
	.book-image img{
		min-width: 180px;
	}

}

.book-detail{
	height: 100%;
    left: 0px;
    position: absolute;
    border-right:solid #E8E8E8 1px;

}

.nav-own{
	background-color: #161d20;
}

.navtop{
	border-width:0px;
}

html,body,.book-container,.book-detail,.content-view,.book-row,.side-info{
	height: 100%
}



.discussion-author{
	color:gray;
	font-size: 10px;
}

.foot{
	margin:0px;
}

.footer-container{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.footer-content{
	border-top: solid 1px rgba(128, 128, 128, 0.3);
	padding-top: 10px;
	padding-bottom: 10px;
}

.small-logo img{
	width: 100px;
}

.brand-logo{
	width:150px;
	padding: 10px 0;
}

.caption-text{
	font-size: 12px;
    line-height: 18px;
    font-family: 'OpenSans',Arial,sans-serif;
}

.container-fluid{
	width:75%;
	margin-left: auto;
	margin-right: auto;
}

.brand{
	padding:10px 15px;
}

.btn-blue{
	background-color: #4a90e2;
	line-height: 16px;
    padding: 16px 20px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 6px;
    display: inline-block;
    border-radius: 0;
    border: 0;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.btn-blue:hover{
	background-color:#75B4FF;
	color:white;
	text-decoration: none;
}

.btn-none{
	padding: 22px 0px;
	color:#757575;
	text-decoration: none;
}

.btn-none:hover{
	padding: 22px 0px;
	color:#4a90e2;
	text-decoration: none;
}

.container-fluid ul li{
	display:inline;
}