<div class="banner row">
	<div class="col-md-12">
		<div class="banner-container">
			<h1 class="banner-intro">找到和你一樣愛閱讀的朋友。</h1>
			<div class="search-container">
				<div class="search-wrapper">
					<form class="form-wrapper cf"  class="search-form">
						<input ng-model="searchInput" type="text" placeholder="正在看什麼書呢？">
						<button type="button" ng-click="search(searchInput)">
							<span class="search-web">Search</span>
							<span class="search-mobile"><span class="glyphicon glyphicon-search"></span></span>
						</button>
					</form>
				</div>
			</div>
			<h3 class="browse-catalog-container">
				<span class="h3-none">或者</span>
				<a href="/browse">
					<span class="h3-btn">瀏覽目錄</span>
				</a>
			</h3>
		</div>
	</div>
</div>
<div class="book-container">
	<div class="searched-book" ng-show="searchend">
		<div class="row">
			<h1>搜尋結果</h1>
			<div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="book in searched">
				<a href="/book/{{book._id}}">
					<div class="book-image">
						<img class="book-image" ng-src="{{book.imgUrl}}">
					</div>
					<div class="book-detail">
						<div class="book-title">{{book.title}}</div>
						<div class="book-author">{{book.author}}</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="featured-book">
		<div class="row">
			<h1>熱門書籍</h1>
			<div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="book in featured">
				<a href="/book/{{book._id}}">
					<div class="book-image">
						<img ng-src="{{book.imgUrl}}">
					</div>
					<div class="book-detail">
						<div class="book-title">{{book.title}}</div>
						<div class="book-author">{{book.author}}</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="discussed-book">
		<div class="row">
			<h1>大家都在討論</h1>
			<div class="col-md-3 col-sm-4 col-xs-12" ng-repeat="book in discussed">
				<a href="/book/{{book._id}}">
					<div class="book-image">
						<img ng-src="{{book.imgUrl}}">
					</div>
					<div class="book-detail">
						<div class="book-title">{{book.title}}</div>
						<div class="book-author">{{book.author}}</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	
</div>