<div class="banner row">
	<div class="col-md-12">
		<div class="banner-container">
			<h1 class="banner-intro">找到和你一樣愛讀書的朋友。</h1>
			<div class="search-container">
				<div class="search-wrapper">
					<form class="form-wrapper cf" action method="get" class="search-form">
						<input type="text" placeholder="正在看什麼書呢？">
						<button type="submit">Search</button>
					</form>
				</div>
			</div>
			<h3 class="browse-catalog-container">
				<span class="h3-none">或者</span>
				<a href="/browse">
					<span class="h3-btn">瀏覽目錄</span>
				</a>
			</h3>
		</div>
	</div>
</div>
<div class="book-container">
	<div class="featured-book">
		<div class="row">
			<h1>熱門書籍</h1>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<a href="">
					<div class="book-image">
						<img src="http://im1.book.com.tw/image/getImage?i=http://www.books.com.tw/img/001/069/85/0010698529.jpg&v=565830d2&w=348&h=348">
					</div>
					<div class="book-detail">
						<div class="book-title">蝙蝠(奈斯博作品集10)</div>
						<div class="book-author">尤．奈斯博</div>
					</div>
				</a>
			</div>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<a href="">
					<div class="book-image">
						<img src="http://im1.book.com.tw/image/getImage?i=http://www.books.com.tw/img/001/069/85/0010698529.jpg&v=565830d2&w=348&h=348">
					</div>
					<div class="book-detail">
						<div class="book-title">蝙蝠(奈斯博作品集10)</div>
						<div class="book-author">尤．奈斯博</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="discussed-book">
		<div class="row">
			<h1>大家都在討論</h1>
			<div class="col-md-3 col-sm-4 col-xs-12">
				<a href="">
					<div class="book-image">
						<img src="http://im1.book.com.tw/image/getImage?i=http://www.books.com.tw/img/001/069/85/0010698529.jpg&v=565830d2&w=348&h=348">
					</div>
					<div class="book-detail">
						<div class="book-title">蝙蝠(奈斯博作品集10)</div>
						<div class="book-author">尤．奈斯博</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	
</div>