<div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>


<div class="login-block">
    <h1>Login</h1>
    <form ng-submit="logIn()" style="margin-top:30px;">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" id="username" ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" id="password" ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>

</div>